<main *ngIf="product" class="w-screen relative -left-16 flex md:flex-row flex-col-reverse ">
    <section class="flex-[6]">
        <div class="w-full mb-[1px]">
            <img class="w-full aspect-[16/9] mb-1" src="assets/images/landing_3.jpg" alt="">

        </div>
        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-[1.5px]">
            <img *ngFor="let image of [].constructor(4)" class="w-full aspect-[1/1]" src="assets/images/landing_3.jpg"
                alt="">

        </div>
        <article class="px-12  md:px-36 py-6">
            <div [innerHtml]="product.description">
                <!-- <h6 class="font-mono font-bold my-8">DESCRIPCIÓN</h6>
                <p class="mb-2">Pensada inicialmente para llevar una botella extra, sin embargo, su uso se ha extendido
                    entre les
                    bikepackers gracias a su increíble versatilidad.
                    Puedes acceder a su contenido mientras pedaleas con una sola mano.</p>
                <p class="mb-2">
                    Perfecta para picar mientras vas en marcha, llevar una cámara compacta, una botella o lo que se te
                    ocurra. Con un bolsillo exterior de malla para tener un extra de capacidad.
                    El interior de EVA cumple la función de aislante para poder mantener la temperatura del agua si
                    decides usarla como porta botella extra.
                    Unida con velcros al manillar y potencia y con un elástico para la horquilla. Funciona para
                    cualquier forma de manillar.
                </p>
                <p class="mb-2">
                    Ten en cuenta que su forma de apertura no es resistente a la lluvia. Pero no te preocupes cuando
                    llueva porque tiene un orificio en la base para evacuar toda el agua que pueda entrar.
                </p> -->

            </div>
            <div>
                <h6 class="font-mono font-bold my-4">CARACTERÍSTICAS</h6>
                <ul class="grid grid-cols-2 gap-2 gap-y-4">
                    <li *ngFor="let feat of product.features" class="tracking-tight leading-5 ">• {{feat}}</li>

                </ul>
            </div>
        </article>
        <section>



        </section>
        <section>

        </section>
    </section>
    <aside class="flex-[4] ">
        <div class="sticky top-24 py-6 px-12">
            <section (click)="goBack()"
                class="flex gap-2 text-gray-400 items-center transition-all hover:text-slate-600 cursor-pointer active:text-slate-900">
                <em class="pi pi-arrow-left"> </em>
                <span class="font-mono ">ATRÁS</span>
            </section>
            <section class="flex flex-col gap-2 mb-12">
                <h6 class="uppercase font-mono">{{product.category?.name}}</h6>
                <h2 class="text-4xl tracking-wider">{{product.name}}</h2>
                <h4 class="text-2xl tracking-wider">$56.720</h4>
            </section>
            <section class="flex flex-col gap-2 mb-8">
                <h6><em class="mr-2 pi pi-arrows-h"></em> Dimensiones: {{product.dimension}}</h6>
                <h6><em class="mr-2 pi pi-box"></em> Peso: {{product.weight}}</h6>
                <h6><em class="mr-2 pi pi-caret-down"></em> Volumen: {{product.volume}}</h6>
            </section>

            <!-- <section>
                <h6 class="font-mono font-bold my-4">COLORES</h6>
                <div class="flex gap-4">
                    <div
                        class="w-12 h-12 rounded-full border-2 border-white bg-primary-500 outline-[3px] outline outline-slate-800 transition-all scale-105 hover:scale-105 cursor-pointer">
                    </div>
                    <div
                        class="w-12 h-12 rounded-full border-2 border-white bg-gray-200 outline-[1.5px] outline outline-slate-800 transition-all hover:scale-105 cursor-pointer">
                    </div>
                    <div
                        class="w-12 h-12 rounded-full border-2 border-white bg-indigo-500 outline-[1.5px] outline outline-slate-800 transition-all hover:scale-105 cursor-pointer">
                    </div>
                    <div
                        class="w-12 h-12 rounded-full border-2 border-white bg-lime-400 outline-[1.5px] outline outline-slate-800 transition-all hover:scale-105 cursor-pointer">
                    </div>
                </div>

            </section> -->
            <h6 class="font-mono font-bold my-4">EN STOCK</h6>
            <h6 class="font-mono font-bold my-4 bg-primary-300 text-primary-800 p-2 rounded-sm">SIN STOCK - <span
                    class="cursor-pointer border-dashed text-slate-800 border-b-2 border-slate-800">AVÍSAME CUANDO
                    LLEGUE</span></h6>
            <div class="flex gap-4">
                <button class="bg-gray-900 w-max text-white my-4 p-4 rounded-xl font-mono">AGREGAR AL CARRITO</button>
                <button class="bg-gray-900 w-max text-white my-4 p-4 rounded-xl font-mono"><em
                        class="pi pi-bell"></em></button>
            </div>
            <h6 class="font-bold font-mono border-b-2"><em class="mr-2 pi pi-truck"></em> ENVÍOS POR PAGAR A TODO CHILE
            </h6>
            <h6 class="font-bold font-mono border-b-2"><em class="mr-2 pi pi-credit-card"></em> PAGA CON TRANSFERENCIA
            </h6>
        </div>
    </aside>
</main>