<app-overlay-layer></app-overlay-layer>
<toast></toast>
<div [class]="'pt-24  z-0 w-screen bg-gray-50 dark:!bg-bluegray-900 text-bluegray-800 font-sans dark:text-bluegray-50 '+(lockScroll?'max-h-screen overflow-y-hidden ':'')">
        <app-navbar  [direction]="direction" [sticky]="sticky"></app-navbar>
        <main class="px-4 md:px-16 lg:px-24">
            <router-outlet></router-outlet>
        </main>
        <!-- <div [class]="sticky?'pt-20 ':''">
            <app-hero-section id="hero-section"></app-hero-section>
        </div> -->
        <!-- <app-project id="project"></app-project> -->
        <!-- <app-my-skills id="project"></app-my-skills> -->
        <!-- <section id="what-i-do" class="py-52">
            <app-about-me></app-about-me>
    
        </section> -->

        <!-- <app-my-history id="career"></app-my-history>
        
        <app-profile id="profile" ></app-profile> -->

        <app-contact id="contact"></app-contact>
</div>
