<section class="w-full min-h-[60vh] flex ">
    <aside class="flex-1 flex justify-center items-center">
        <div class="flex flex-col justify-center items-start w-max gap-12">
            <h1 class="text-4xl">Un bolso <br><span>para cada espacio</span><br> de tu bicicleta</h1>
            <button class="bg-gray-900 w-max text-white p-6 rounded-xl">Ver productos</button>
        </div>
        
    </aside>
    <div class="flex-1 flex justify-center items-center">
        <div class="w-full h-8 bg-gradient-to-b bg-white-to"></div>
        <img class="h-[30rem]" src="assets/images/bolsos.jpg" alt="">
    </div>
</section>