
.outline{
    text-shadow: -1px -1px 0 #FFF,
    0   -1px 0 #FFF,
    1px -1px 0 #FFF,
    1px  0   0 #FFF,
    1px  1px 0 #FFF,
    0    1px 0 #FFF,
   -1px  1px 0 #FFF,
   -1px  0   0 #FFF;
}

.outline:hover{
    text-shadow: none;
}

.outline-d{
    text-shadow: -1px -1px 0 #000,
    0   -1px 0 #000,
    1px -1px 0 #000,
    1px  0   0 #000,
    1px  1px 0 #000,
    0    1px 0 #000,
   -1px  1px 0 #000,
   -1px  0   0 #000;
}

.outline-d:hover{
    text-shadow: none;
}

