
    <section class="my-4">
        <h1 class="text-4xl font-mono">TU CARRITO</h1>
        <h6>TOTAL (2 productos) <span class="font-bold">$21.990</span></h6>
        <p>
            Los artículos del carrito no están reservados.
        </p>
        <select title="Cantidad" class="block py-2.5 px-0 w-full font-mono font-bold text-slate-900 bg-transparent border-0 border-b-2 border-slate-800 appearance-none focus:outline-none focus:ring-0 focus:border-primary-500">
            <option selected>1</option>
            <option value="US">2</option>
            <option value="CA">3</option>
            <option value="FR">4</option>
            <option value="DE">5</option>
        </select>
    </section>
